.software-card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(107, 187, 233);

    min-width: 25%;
    max-width: 25%;
    height: 7rem;
    
    border-radius: 15px;
    gap: 2.5%;
    box-sizing: border-box;
    text-align: center;
}

.software-card__name{
    font-size: 80%;
    margin: 0px;
}

.software-card__version{
    font-size: 75%;

}