.software{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.software__title{
    margin-top: 5%;
}

.software__view-and-add-switch{
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 15rem;
    gap: 5%;
}

.software__view-software-button,
.software__add-software-button{
    height: 100%;
    width: 100%;
}